asl.json
{
    "$schema": "http://json-schema.org/draft-07/schema",
    "definitions": {
        "state-machine": {
            "type": "object",
            "properties": {
                "Comment": {
                    "type": "string"
                },
                "StartAt": {
                    "type": "string"
                },
                "States": {
                    "type": "object",
                    "patternProperties": {
                        "^.{1,128}$": {
                            "$ref": "#/definitions/state"
                        }
                    },
                    "additionalProperties": false
                },
                "Version": {
                    "type": "string"
                },
                "TimeoutSeconds": {
                    "type": "integer",
                    "minimum": 0
                }
            },
            "additionalProperties": false,
            "required": [
                "StartAt",
                "States"
            ]
        },
        "choice": {
            "definitions": {
                "Operator": {
                    "type": "object",
                    "properties": {
                        "Variable": {
                            "type": "string"
                        },
                        "Next": {
                            "type": "string",
                            "pattern": "^.{1,128}$"
                        },
                        "And": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/choice/definitions/Operator"
                            }
                        },
                        "BooleanEquals": {
                            "type": "boolean"
                        },
                        "BooleanEqualsPath": {
                            "type": "string",
                            "pattern": "^\\$\\.\\S+"
                        },
                        "IsBoolean": {
                            "type": "boolean"
                        },
                        "IsNull": {
                            "type": "boolean"
                        },
                        "IsNumeric": {
                            "type": "boolean"
                        },
                        "IsPresent": {
                            "type": "boolean"
                        },
                        "IsString": {
                            "type": "boolean"
                        },
                        "IsTimestamp": {
                            "type": "boolean"
                        },
                        "Not": {
                            "$ref": "#/definitions/choice/definitions/Operator"
                        },
                        "Or": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/choice/definitions/Operator"
                            }
                        },
                        "NumericEquals": {
                            "type": "number"
                        },
                        "NumericEqualsPath": {
                            "type": "string",
                            "pattern": "^\\$\\.\\S+"
                        },
                        "NumericGreaterThan": {
                            "type": "number"
                        },
                        "NumericGreaterThanPath": {
                            "type": "string",
                            "pattern": "^\\$\\.\\S+"
                        },
                        "NumericGreaterThanEquals": {
                            "type": "number"
                        },
                        "NumericGreaterThanEqualsPath": {
                            "type": "string",
                            "pattern": "^\\$\\.\\S+"
                        },
                        "NumericLessThan": {
                            "type": "number"
                        },
                        "NumericLessThanPath": {
                            "type": "string",
                            "pattern": "^\\$\\.\\S+"
                        },
                        "NumericLessThanEquals": {
                            "type": "number"
                        },
                        "NumericLessThanEqualsPath": {
                            "type": "string",
                            "pattern": "^\\$\\.\\S+"
                        },
                        "StringEquals": {
                            "type": "string"
                        },
                        "StringEqualsPath": {
                            "type": "string",
                            "pattern": "^\\$\\.\\S+"
                        },
                        "StringGreaterThan": {
                            "type": "string"
                        },
                        "StringGreaterThanPath": {
                            "type": "string",
                            "pattern": "^\\$\\.\\S+"
                        },
                        "StringGreaterThanEquals": {
                            "type": "string"
                        },
                        "StringGreaterThanEqualsPath": {
                            "type": "string",
                            "pattern": "^\\$\\.\\S+"
                        },
                        "StringLessThan": {
                            "type": "string"
                        },
                        "StringLessThanPath": {
                            "type": "string",
                            "pattern": "^\\$\\.\\S+"
                        },
                        "StringLessThanEquals": {
                            "type": "string"
                        },
                        "StringLessThanEqualsPath": {
                            "type": "string",
                            "pattern": "^\\$\\.\\S+"
                        },
                        "TimestampEquals": {
                            "type": "string"
                        },
                        "TimestampEqualsPath": {
                            "type": "string",
                            "pattern": "^\\$\\.\\S+"
                        },
                        "TimestampGreaterThan": {
                            "type": "string"
                        },
                        "TimestampGreaterThanPath": {
                            "type": "string",
                            "pattern": "^\\$\\.\\S+"
                        },
                        "TimestampGreaterThanEquals": {
                            "type": "string"
                        },
                        "TimestampGreaterThanEqualsPath": {
                            "type": "string",
                            "pattern": "^\\$\\.\\S+"
                        },
                        "TimestampLessThan": {
                            "type": "string"
                        },
                        "TimestampLessThanPath": {
                            "type": "string",
                            "pattern": "^\\$\\.\\S+"
                        },
                        "TimestampLessThanEquals": {
                            "type": "string"
                        },
                        "TimestampLessThanEqualsPath": {
                            "type": "string",
                            "pattern": "^\\$\\.\\S+"
                        }
                    },
                    "oneOf": [
                        {
                            "required": [
                                "And"
                            ]
                        },
                        {
                            "required": [
                                "BooleanEquals"
                            ]
                        },
                        {
                            "required": [
                                "BooleanEqualsPath"
                            ]
                        },
                        {
                            "required": [
                                "IsBoolean"
                            ]
                        },
                        {
                            "required": [
                                "IsNull"
                            ]
                        },
                        {
                            "required": [
                                "IsNumeric"
                            ]
                        },
                        {
                            "required": [
                                "IsPresent"
                            ]
                        },
                        {
                            "required": [
                                "IsString"
                            ]
                        },
                        {
                            "required": [
                                "IsTimestamp"
                            ]
                        },
                        {
                            "required": [
                                "Not"
                            ]
                        },
                        {
                            "required": [
                                "NumericEquals"
                            ]
                        },
                        {
                            "required": [
                                "NumericEqualsPath"
                            ]
                        },
                        {
                            "required": [
                                "NumericGreaterThan"
                            ]
                        },
                        {
                            "required": [
                                "NumericGreaterThanPath"
                            ]
                        },
                        {
                            "required": [
                                "NumericGreaterThanEquals"
                            ]
                        },
                        {
                            "required": [
                                "NumericGreaterThanEqualsPath"
                            ]
                        },
                        {
                            "required": [
                                "NumericLessThan"
                            ]
                        },
                        {
                            "required": [
                                "NumericLessThanPath"
                            ]
                        },
                        {
                            "required": [
                                "NumericLessThanEquals"
                            ]
                        },
                        {
                            "required": [
                                "NumericLessThanEqualsPath"
                            ]
                        },
                        {
                            "required": [
                                "Or"
                            ]
                        },
                        {
                            "required": [
                                "StringEquals"
                            ]
                        },
                        {
                            "required": [
                                "StringEqualsPath"
                            ]
                        },
                        {
                            "required": [
                                "StringGreaterThan"
                            ]
                        },
                        {
                            "required": [
                                "StringGreaterThanPath"
                            ]
                        },
                        {
                            "required": [
                                "StringGreaterThanEquals"
                            ]
                        },
                        {
                            "required": [
                                "StringGreaterThanEqualsPath"
                            ]
                        },
                        {
                            "required": [
                                "StringLessThan"
                            ]
                        },
                        {
                            "required": [
                                "StringLessThanPath"
                            ]
                        },
                        {
                            "required": [
                                "StringLessThanEquals"
                            ]
                        },
                        {
                            "required": [
                                "StringLessThanEqualsPath"
                            ]
                        },
                        {
                            "required": [
                                "StringMatches"
                            ]
                        },
                        {
                            "required": [
                                "TimestampEquals"
                            ]
                        },
                        {
                            "required": [
                                "TimestampEqualsPath"
                            ]
                        },
                        {
                            "required": [
                                "TimestampGreaterThan"
                            ]
                        },
                        {
                            "required": [
                                "TimestampGreaterThanPath"
                            ]
                        },
                        {
                            "required": [
                                "TimestampGreaterThanEquals"
                            ]
                        },
                        {
                            "required": [
                                "TimestampGreaterThanEqualsPath"
                            ]
                        },
                        {
                            "required": [
                                "TimestampLessThan"
                            ]
                        },
                        {
                            "required": [
                                "TimestampLessThanPath"
                            ]
                        },
                        {
                            "required": [
                                "TimestampLessThanEquals"
                            ]
                        },
                        {
                            "required": [
                                "TimestampLessThanEqualsPath"
                            ]
                        }
                    ]
                }
            },
            "type": "object",
            "properties": {
                "Type": {
                    "type": "string",
                    "enum": [
                        "Choice"
                    ]
                },
                "Next": {
                    "type": "string",
                    "pattern": "^.{1,128}$"
                },
                "End": {
                    "enum": [
                        true
                    ]
                },
                "Comment": {
                    "type": "string"
                },
                "OutputPath": {
                    "type": [
                        "string",
                        "null"
                    ]
                },
                "InputPath": {
                    "type": [
                        "string",
                        "null"
                    ]
                },
                "Choices": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/choice/definitions/Operator"
                    }
                },
                "Default": {
                    "type": "string"
                }
            },
            "required": [
                "Type",
                "Choices"
            ],
            "additionalProperties": false
        },
        "fail": {
            "type": "object",
            "properties": {
                "Type": {
                    "type": "string",
                    "enum": [
                        "Fail"
                    ]
                },
                "Comment": {
                    "type": "string"
                },
                "OutputPath": {
                    "type": [
                        "string",
                        "null"
                    ]
                },
                "InputPath": {
                    "type": [
                        "string",
                        "null"
                    ]
                },
                "Cause": {
                    "type": "string"
                },
                "Error": {
                    "type": "string"
                }
            },
            "required": [
                "Type"
            ],
            "additionalProperties": false
        },
        "map": {
            "type": "object",
            "properties": {
                "Type": {
                    "type": "string",
                    "enum": [
                        "Map"
                    ]
                },
                "Next": {
                    "type": "string",
                    "pattern": "^.{1,128}$"
                },
                "End": {
                    "enum": [
                        true
                    ]
                },
                "Comment": {
                    "type": "string"
                },
                "OutputPath": {
                    "type": [
                        "string",
                        "null"
                    ]
                },
                "InputPath": {
                    "type": [
                        "string",
                        "null"
                    ]
                },
                "ResultPath": {
                    "type": [
                        "string",
                        "null"
                    ]
                },
                "ResultSelector": {
                    "type": "object"
                },
                "ItemSelector": {
                    "type": "object"
                },
                "ItemProcessor": {
                    "type": "object",
                    "properties": {
                        "ProcessorConfig": {
                            "type": "object",
                            "properties": {
                                "Mode": {
                                    "type": "string",
                                    "enum": [
                                        "INLINE",
                                        "DISTRIBUTED"
                                    ]
                                },
                                "ExecutionType": {
                                    "type": "string",
                                    "enum": [
                                        "STANDARD",
                                        "EXPRESS"
                                    ]
                                }
                            },
                            "required": [
                                "Mode"
                            ]
                        },
                        "StartAt": {
                            "type": "string"
                        },
                        "States": {
                            "type": "object",
                            "patternProperties": {
                                "^.{1,128}$": {
                                    "$ref": "#/definitions/state"
                                }
                            },
                            "additionalProperties": false
                        }
                    }
                },
                "ItemsPath": {
                    "type": [
                        "string",
                        "null"
                    ]
                },
                "MaxConcurrency": {
                    "type": "number",
                    "minimum": 0
                },
                "Iterator": {
                    "$ref": "#/definitions/state-machine"
                },
                "Parameters": {
                    "type": "object"
                },
                "Retry": {
                    "type": "array",
                    "items": {
                        "types": "object",
                        "properties": {
                            "ErrorEquals": {
                                "type": "array",
                                "items": {
                                    "types": "string"
                                }
                            },
                            "IntervalSeconds": {
                                "type": "number",
                                "minimum": 0
                            },
                            "MaxAttempts": {
                                "type": "number",
                                "minimum": 0
                            },
                            "BackoffRate": {
                                "type": "number",
                                "minimum": 0
                            }
                        },
                        "required": [
                            "ErrorEquals"
                        ]
                    }
                },
                "Catch": {
                    "type": "array",
                    "items": {
                        "types": "object",
                        "properties": {
                            "ErrorEquals": {
                                "type": "array",
                                "items": {
                                    "types": "string"
                                }
                            },
                            "Next": {
                                "type": "string",
                                "pattern": "^.{1,128}$"
                            }
                        },
                        "required": [
                            "ErrorEquals",
                            "Next"
                        ]
                    }
                }
            },
            "oneOf": [
                {
                    "required": [
                        "Next"
                    ]
                },
                {
                    "required": [
                        "End"
                    ]
                }
            ],
            "required": [
                "Type",
                "ItemProcessor"
            ],
            "additionalProperties": false
        },
        "parallel": {
            "type": "object",
            "properties": {
                "Type": {
                    "type": "string",
                    "enum": [
                        "Parallel"
                    ]
                },
                "Next": {
                    "type": "string",
                    "pattern": "^.{1,128}$"
                },
                "End": {
                    "enum": [
                        true
                    ]
                },
                "Comment": {
                    "type": "string"
                },
                "OutputPath": {
                    "type": [
                        "string",
                        "null"
                    ]
                },
                "InputPath": {
                    "type": [
                        "string",
                        "null"
                    ]
                },
                "ResultPath": {
                    "type": [
                        "string",
                        "null"
                    ]
                },
                "ResultSelector": {
                    "type": "object"
                },
                "Branches": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/state-machine"
                    }
                },
                "Retry": {
                    "type": "array",
                    "items": {
                        "types": "object",
                        "properties": {
                            "ErrorEquals": {
                                "type": "array",
                                "items": {
                                    "types": "string"
                                }
                            },
                            "IntervalSeconds": {
                                "type": "number",
                                "minimum": 0
                            },
                            "MaxAttempts": {
                                "type": "number",
                                "minimum": 0
                            },
                            "BackoffRate": {
                                "type": "number",
                                "minimum": 0
                            }
                        },
                        "required": [
                            "ErrorEquals"
                        ]
                    }
                },
                "Catch": {
                    "type": "array",
                    "items": {
                        "types": "object",
                        "properties": {
                            "ErrorEquals": {
                                "type": "array",
                                "items": {
                                    "types": "string"
                                }
                            },
                            "Next": {
                                "type": "string",
                                "pattern": "^.{1,128}$"
                            }
                        },
                        "required": [
                            "ErrorEquals",
                            "Next"
                        ]
                    }
                }
            },
            "oneOf": [
                {
                    "required": [
                        "Next"
                    ]
                },
                {
                    "required": [
                        "End"
                    ]
                }
            ],
            "required": [
                "Type",
                "Branches"
            ],
            "additionalProperties": false
        },
        "pass": {
            "type": "object",
            "properties": {
                "Type": {
                    "type": "string",
                    "enum": [
                        "Pass"
                    ]
                },
                "Next": {
                    "type": "string",
                    "pattern": "^.{1,128}$"
                },
                "End": {
                    "enum": [
                        true
                    ]
                },
                "Comment": {
                    "type": "string"
                },
                "OutputPath": {
                    "type": [
                        "string",
                        "null"
                    ]
                },
                "InputPath": {
                    "type": [
                        "string",
                        "null"
                    ]
                },
                "ResultPath": {
                    "type": "string"
                },
                "Parameters": {
                    "type": "object"
                },
                "Result": {}
            },
            "oneOf": [
                {
                    "required": [
                        "Next"
                    ]
                },
                {
                    "required": [
                        "End"
                    ]
                }
            ],
            "required": [
                "Type"
            ],
            "additionalProperties": false
        },
        "state": {
            "type": "object",
            "oneOf": [
                {
                    "$ref": "#/definitions/choice"
                },
                {
                    "$ref": "#/definitions/fail"
                },
                {
                    "$ref": "#/definitions/parallel"
                },
                {
                    "$ref": "#/definitions/pass"
                },
                {
                    "$ref": "#/definitions/succeed"
                },
                {
                    "$ref": "#/definitions/task"
                },
                {
                    "$ref": "#/definitions/wait"
                },
                {
                    "$ref": "#/definitions/map"
                }
            ]
        },
        "succeed": {
            "type": "object",
            "properties": {
                "Type": {
                    "type": "string",
                    "enum": [
                        "Succeed"
                    ]
                },
                "Comment": {
                    "type": "string"
                }
            },
            "required": [
                "Type"
            ],
            "additionalProperties": false
        },
        "task": {
            "type": "object",
            "properties": {
                "Type": {
                    "type": "string",
                    "enum": [
                        "Task"
                    ]
                },
                "Next": {
                    "type": "string",
                    "pattern": "^.{1,128}$"
                },
                "End": {
                    "enum": [
                        true
                    ]
                },
                "Comment": {
                    "type": "string"
                },
                "OutputPath": {
                    "type": [
                        "string",
                        "null"
                    ]
                },
                "InputPath": {
                    "type": [
                        "string",
                        "null"
                    ]
                },
                "Resource": {
                    "oneOf": [
                        {
                            "type": "string",
                            "pattern": "^(arn:aws:([a-z]|-)+:([a-z]|[0-9]|-)*:[0-9]*:([a-z]|-)+:[a-zA-Z0-9-_.]+(:(\\$LATEST|[a-zA-Z0-9-_]+))?$|(\\$\\{[^}]+\\}))"
                        },
                        {
                            "type": "object"
                        }
                    ]
                },
                "ResultPath": {
                    "type": [
                        "string",
                        "null"
                    ]
                },
                "ResultSelector": {
                    "type": "object"
                },
                "Retry": {
                    "type": "array",
                    "items": {
                        "types": "object",
                        "properties": {
                            "ErrorEquals": {
                                "type": "array",
                                "items": {
                                    "types": "string"
                                }
                            },
                            "IntervalSeconds": {
                                "type": "number",
                                "minimum": 0
                            },
                            "MaxAttempts": {
                                "type": "number",
                                "minimum": 0
                            },
                            "BackoffRate": {
                                "type": "number",
                                "minimum": 0
                            }
                        },
                        "required": [
                            "ErrorEquals"
                        ]
                    }
                },
                "Catch": {
                    "type": "array",
                    "items": {
                        "types": "object",
                        "properties": {
                            "ErrorEquals": {
                                "type": "array",
                                "items": {
                                    "types": "string"
                                }
                            },
                            "Next": {
                                "type": "string",
                                "pattern": "^.{1,128}$"
                            }
                        },
                        "required": [
                            "ErrorEquals",
                            "Next"
                        ]
                    }
                },
                "TimeoutSeconds": {
                    "type": "number",
                    "minimum": 1
                },
                "HeartbeatSeconds": {
                    "type": "number",
                    "minimum": 1
                },
                "Parameters": {
                    "type": "object"
                }
            },
            "oneOf": [
                {
                    "required": [
                        "Next"
                    ]
                },
                {
                    "required": [
                        "End"
                    ]
                }
            ],
            "required": [
                "Type",
                "Resource"
            ],
            "additionalProperties": false
        },
        "wait": {
            "type": "object",
            "properties": {
                "Type": {
                    "type": "string",
                    "enum": [
                        "Wait"
                    ]
                },
                "Next": {
                    "type": "string",
                    "pattern": "^.{1,128}$"
                },
                "End": {
                    "enum": [
                        true
                    ]
                },
                "Comment": {
                    "type": "string"
                },
                "OutputPath": {
                    "type": [
                        "string",
                        "null"
                    ]
                },
                "InputPath": {
                    "type": [
                        "string",
                        "null"
                    ]
                },
                "Seconds": {
                    "type": "number",
                    "minimum": 0
                },
                "Timestamp": {
                    "type": "string"
                },
                "SecondsPath": {
                    "type": [
                        "string",
                        "null"
                    ]
                },
                "TimestampPath": {
                    "type": [
                        "string",
                        "null"
                    ]
                }
            },
            "oneOf": [
                {
                    "required": [
                        "Next"
                    ]
                },
                {
                    "required": [
                        "End"
                    ]
                }
            ],
            "required": [
                "Type"
            ],
            "additionalProperties": false
        }
    },
    "$ref": "#/definitions/state-machine"
}
